@font-face{
    font-family: "SamsungOne";
    src: url("SamsungOne-400.woff2");
    font-weight: 400;
}

@font-face{
    font-family: "SamsungOne";
    src: url("SamsungOne-700.woff2");
    font-weight: 700;
}

@font-face{
    font-family: "SamsungSharp";
    src: url("samsungsharpsans-medium_v2.woff2");
    font-weight: 400;
}

@font-face{
    font-family: "SamsungSharp";
    src: url("SamsungSharpSansBd.woff2");
    font-weight: 700;
}

@font-face{
    font-family: "SignatureSamsung";
    src: url("signature-samsung.woff2");
    font-weight: normal;
}